<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include app.html %}
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
  <script src="/assets/js/lunr.min.js"></script>
  <script src="/assets/js/vue.min.js"></script>
  <script src="/assets/js/data.js"></script>
  <script src="/assets/js/app.js"></script>

</html>
